body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    padding: 10%;
    margin: 0;
    background-color: #1b1c1d;
    color: white;
    display: grid;
    width: 90%;
    margin: auto;
    grid-row-gap: 2%;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "bot info info" "stats stats stats" "links links links";
}

.grid__bot {
    border-right: 2px solid white;
    padding: 2%;
    grid-area: bot;
    width: 100%;
}

.grid__info {
    grid-area: info;
    padding: 4%;
    width: 100%;
}

#botTitle {
    font-size: 3vw;
}

#botDescription {
    font-size: 2vw;
}

.grid__stats {
    grid-area: stats;
    width: 100%;
}

.grid__links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-area: links;
    width: 100%;
}

a {
    width: 10%;
    text-align: center;
    text-decoration: none;
}

a img {
    width: 100%;
}

#botIcon {
    vertical-align: middle;
    width: 98%;
    height: 98%;
    border-radius: 50%;
}

.icon {
    color: white;
}

.btn {
    display: flex;
    justify-content: center;
    cursor: pointer;
    box-shadow: -1px 3px 3px 0 rgba(80, 80, 80, .2);
    width: 155px;
    height: 50px;
    border: none;
    align-items: center;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    flex: 0 0 auto;
}

.btn-4 {
    background: #cbbcf6;
    transition: all 0.16s ease-in;
}

.btn-4:hover {
    background: none;
    color: #464646;
    box-shadow: 0 0 0 1px rgba(80, 80, 80, .5);
}
#stats__image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
@media screen and (max-width: 700px) {
    body {
        grid-row-gap: 0;
        grid-template-rows: 1fr auto auto auto;
        grid-template-areas: 
        "bot bot bot"
        "info info info"
        "stats stats stats"
        "links links links";
        text-align: center;
    }
    .grid__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex-flow: column-reverse;
        grid-area: links;
        width: 100%;
    }
    a {
        margin: 1%;
        width: 20%;
    }
    .btn {
        width: 100%;
        height: auto;
    }

.btn-4 {
    background: #cbbcf6;
    transition: all 0.16s ease-in;
}

.btn-4:hover {
    background: none;
    color: #464646;
    box-shadow: 0 0 0 1px rgba(80, 80, 80, .5);
}
.grid__info {
    padding: 0;
}
.grid__bot {
    border-right: none;
    margin: auto;
    grid-area: bot;
    width: 50%;
}
}